@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!!!</h1>
</div>

<body>
    <form method="post">
        <h5>Enter Module</h5>
        <input type="text" id="txtName" name="name" />
        <input type="submit" id="btnSubmit" value="Reminder" asp-page-handler="Submit" />
    </form>
    @if (ViewData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
        </script>
    }
</body>

<div class="row">
    <div class="col-md-4">
        <h2> Documentation</h2>
        <p>
            Read me File can be found here... Doc folder
            This contains information regarding specs/verisons/plugins
        </p> <a href="https://github.com/SyurenChetty/PROG6212-POE-PART3/blob/main/README.md">README HERE!</a>

    </div>

    <div class="col-md-4">
        <b> </b>
        <h2> Welcome To Module Planner</h2>
        <p>
            We here help you plan for the future and improve your
            time managment skills
        </p>
    </div>

    <div class="col-md-4">
        <h2> About us -Github</h2>
        <p>
            You can access and download the source files for this site at..
        </p> <a href="https://github.com/SyurenChetty/PROG6212-POE-PART3">Visit Github!</a>

    </div>
</div>
<img src="~/image/bg.jpg" style="width:1100px;height:300px;" />


